<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="menu" class="ui fixed inverted menu">
		<div class="ui container">
			<div class="ui simple dropdown item">
				<img class="logo" src="assets/images/logo.png" /> <span th:text="${session.username}"></span> <i class="dropdown icon"></i>
				<div class="menu">
					<a class="item" th:href="@{/settings}" href="settings.html">Settings</a>
					<div class="divider"></div>
					<a href="#" id="logout" class="item">Logout</a>
				</div>
			</div>
			<a class="item" th:href="@{/home}" href="home.html">Home</a>
			<div class="ui simple dropdown item">
				Dropdown <i class="dropdown icon"></i>
				<div class="menu">
					<a class="item" href="#">Link Item</a> <a class="item" href="#">Link Item</a>
					<div class="divider"></div>
					<div class="header">Header Item</div>
					<div class="item">
						<i class="dropdown icon"></i> Sub Menu
						<div class="menu">
							<a class="item" href="#">Link Item</a> <a class="item" href="#">Link Item</a>
						</div>
					</div>
					<a class="item" href="#">Link Item</a>
				</div>
			</div>
			<!-- 			<a href="#" id="logout" class="item">Logout</a> -->
			<form id="logoutForm" action="#" th:action="@{/logout}" method="post"></form>
		</div>
	</div>
</body>
</html>